<!doctype html>
<html>
<head>
  <!-- <title></title>: Refactored into timeline.ejs -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="page">
    <h1>MiniTwit</h1>
    <div class="navigation">
      <% if (user) { %>
        <a href="/">my timeline</a> |
        <a href="/public">public timeline</a> |
        <a href="/logout">sign out [<%= user.username %>]</a>
      <% } else { %>
        <a href="/public">public timeline</a> |
        <a href="/register">sign up</a> |
        <a href="/login">sign in</a>
      <% } %>
    </div>
    <% if (flashes && flashes.length > 0) { %>
    <ul class="flashes">
        <% flashes.forEach(function(message) { %>
        <li><%= message %></li>
        <% }); %>
    </ul>
    <% } %>
    <div class="body">
      <%- body %>
    </div>
    <div class="footer">
      MiniTwit &mdash; A Express Application
    </div>
  </div>
</body>
</html>
