.venv/
__pycache__/

# secrets
ssh_key/
secrets/

# terraform
.terraform/
.terraform.*
terraform.tfstate*
terraform/temp/

# ignore /utils folder in app and API
app/*/utils/
API/*/utils/

# Node Project files to ignore
node_modules/

# Vagrant to ignore
.vagrant/

# Txt file with IP where app has been deployed
db_ip.txt

# certificate & connectionstring
utils/ca-certificate.crt
utils/db_connectionstring.json